            body{
				width: 100%;
				height: 100%;
        		background: linear-gradient(to right, rgb(103, 58, 183), rgb(81, 45, 168));
			}
			.yes{
				width: 40px;
				position: absolute;
				right: 10px;
				border-radius:20px ;
				top: 10px;
				z-index: 100;
			}
			.hidden{
				display: none;
			}
			.name{
				width: 40px;
        		font-size: 20px;
        	    color: #ffffff;
				line-height: 80px;
				text-align: center;
				font-family: "微软雅黑";
				position: absolute;
                top: 20%;
                left: 100px;
				width: 52px;
                margin: 0 auto;
                line-height: 56px;
                font-size: 50px;
			}
			.div{
				position: relative;
				width: 800px;
				height: 700px;
				padding: 10px 20px;
				margin: 10px auto;
				border-radius: 10px;
				background: #FFFFFF;
			}
			.img{
				width: 120px;
				height:auto;
				border-radius: 20px;
				position: absolute;
				overflow:hidden;
			}
			.title{
				line-height: 80px;
				text-align: center;
				font-family: "微软雅黑";
                color: #555555;

			}
			.img_div{
				width: 120px;
				height: 120px;
				overflow:hidden;
				border-radius: 20px;
				float: left;
				margin: 15px 15px;
				position: relative;
			}
			.button{
				width: 100px;
				line-height: 30px;
                position: absolute;
				top:50%;
				right: 100px;
				/*margin-top:40px ;
				margin-left: -50px;*/
				border-radius: 10px;
				border: none;
				color: #FFFFFF;
                background: linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));
			}