<!DOCTYPE html>
<html>
  <head>
    <title>图像风格融合与快速迁移</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.qtip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/photobooth.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/qtip.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/gbin1.js') }}"></script>
  </head>
  <body>

  <div id="test"></div>

<div id="m_body">
	<div  id="text"></div>
	<section id="main">
			<h1>图像风格融合与快速迁移 </h1>
			<article>
				<h1>点击按钮 可以调节亮度、剪裁、拍照</h1>
				<div id="webcam"></div>
			</article>
	</section>
	<div  id="pictureBody" class="pictureBody">
		<div class="file">
				<input type="file" class="imgInput" id="imgInput">
		</div>
		<div id="StylePicture">
				<img id="imgShow_WU_FILE" />
		</div>
		<button class="button">下一步</button>
	</div>
</div>
<div id="loadding" class="m_hidden">
	<div id="load"></div>
	<img src="{{ url_for('static', filename='css/loadding.gif') }}"/>
</div>
  </body>
  <script>
  function getImageBase64(img,ext) {
		var img=document.getElementById("imgShow_WU_FILE");
	   	var canvas = document.createElement("canvas");   //创建canvas DOM元素，并设置其宽高和图片一样
		canvas.width = img.width;
		canvas.height = img.height;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(img, 0, 0, img.width, img.height); //使用画布画图
		var dataURL = canvas.toDataURL("image/" + ext);  //返回的是一串Base64编码的URL并指定格式
		canvas = null; //释放
		return dataURL;
	}
  </script>


</html>
